<div class="bg-zinc-800">
  <div
    class="w-3/4 mx-auto text-white flex flex-col justify-center items-center py-4 lg:flex-row lg:justify-between"
  >
    <app-logo></app-logo>
    <nav class="mt-4 lg:mt-0">
      <ul class="flex flex-wrap justify-center items-center gap-x-3">
        <li
          *ngFor="let sec of secciones"
          class="hover:text-blue-500 cursor-pointer"
          [routerLink]="'./'"
          [fragment]="sec.path"
        >
          {{ sec.texto }}
        </li>
      </ul>
    </nav>
  </div>
</div>
