<div class="bg-zinc-800">
  <div
    class="w-3/4 mx-auto text-white flex flex-col justify-center items-center py-4 lg:flex-row lg:justify-between"
  >
    <a class="font-bold text-2xl"
      >&lt;Leonel<span class="text-blue-500">DEV/&gt;</span></a
    >
    <nav class="mt-4 lg:mt-0">
      <ul class="flex flex-wrap justify-center items-center gap-x-3">
        <li class="hover:text-blue-500 cursor-pointer">Inicio</li>
        <li class="hover:text-blue-500 cursor-pointer">Sobre mí</li>
        <li class="hover:text-blue-500 cursor-pointer">Tecnologias</li>
        <li class="hover:text-blue-500 cursor-pointer">Proyectos</li>
        <li class="hover:text-blue-500 cursor-pointer">Contacto</li>
      </ul>
    </nav>
  </div>
</div>
