<div class="bg-zinc-800">
  <div class="w-3/4 mx-auto text-white flex flex-wrap justify-between py-4">
    <a class="font-bold text-2xl"
      >&lt;Leonel<span class="text-blue-500">DEV/&gt;</span></a
    >
    <nav>
      <ul class="flex justify-center items-center gap-3">
        <li class="hover:text-blue-500 cursor-pointer">Inicio</li>
        <li class="hover:text-blue-500 cursor-pointer">Sobre mí</li>
        <li class="hover:text-blue-500 cursor-pointer">Tecnologias</li>
        <li class="hover:text-blue-500 cursor-pointer">Proyectos</li>
        <li class="hover:text-blue-500 cursor-pointer">Contacto</li>
      </ul>
    </nav>
  </div>
</div>
